body {
    background-image: url('images/wallpaper001.jpg');
    
}

.quadrado {
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    background-color: lightgrey;
    width: 300px;
    height: 300px;
}

#q1 {
    background-color: aqua;
}

#q2 {
    background-image: linear-gradient(to right, aqua, blue);
}

#q3 {
    background-image: url('images/pattern003.png');
}