body {
    background-image: linear-gradient(to right, #FFE076, #ebbf2d);
}
main {
    width: 600px;
    background-color: white;
    border: 1px 1px solid;
    border-radius: 10px;
    padding: 8px;
    margin: auto;
    box-shadow: 10px 10px 15px #917b2d77;
}
h1 {
    text-align: center;
    color: #332AA4;
    text-shadow: 1px 1px 2px #31279982;
}
h2 {
    color: #4E46AE;
    text-decoration: underline;
}
p {
    text-align: justify;
}