body {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}
strong {
    color: blue;
}

h2 {
    text-decoration: underline;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

p {
    text-align: justify;
}