body {
    font-family: 'Times New Roman', Times, serif;
    background-color: lightslategrey;
    margin: 0;
}

header {
    background-color: aliceblue;
    border: 1px solid transparent;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

nav {
    background-color: rgb(127, 197, 255);
    border: 1px solid black;
    padding: 3px;
    box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.303);
    border-radius: 3px;
    
}

nav a{
    padding: 5px;
    text-decoration: none;
}

#quemsomos > div {
    display: none;
}

#quemsomos:hover div {
    display: inline-block;
    position: absolute;
    background-color: lightgray;
    color: black;
    font-weight: bold;
    width: 200px;  
    height: 100px;
    border: 1px solid black;
}

#metodologia > div {
    display: none;
}

#metodologia:hover div {
    display: inline-block;
    position: absolute;
    background-color: lightgray;
    color: black;
    font-weight: bold;
    width: 200px;
    height: 100px;
    border: 1px solid black;
} 

main {
    background-color: aliceblue;
    margin: 10px;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
}

section {
    background-color: lightgrey;
    border: 1px solid black;
    margin: 3px;
    border-radius: 3px;
}

article {
    margin: 10px;    
    border-radius: 2px;
}

#assuntos h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    color: blue;
    font-style: italic;
}

#noticias h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
    color: rgb(10, 83, 177);
    font-style: italic;
}

#noticias p {
    font-family: Arial, Helvetica, sans-serif;
    color: blue;

}

aside {
    background-color: whitesmoke;
    font-weight: bold;
    text-align: right;
    padding: 2px;
    border: 0.5px solid rgba(174, 174, 174, 0.351);
    border-radius: 2px;
}

footer {
    background-color: darkblue;
    border: 1px solid transparent;
    border-radius: 5px;
    margin: 10px;
}

footer p {
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    font-size: 15px;
    margin: 0;
    padding: 10px;
    text-align: center;
    text-decoration: underline;
    font-weight: bolder;

}
