
h1 {
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: underline;
}

h2 {
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: italic;
    text-decoration: underline;
}

h3 {
    font-family: 'Italiana';
    font-weight: 700;
    font-style: italic;
}

p {
    font-family: "Inria Serif", serif;
    font-weight: 300;
    font-style: normal;
    text-align: justify;
    text-indent: 30px; /* Alinhamento do começo do parágrafo */
}